<template name="ideasList">
  <div class="template-ideas-list">
    <div class="page-header">
      <h1>Dashboard</h1>
    </div>

    <ul class="list-group">
      {{#each ideas}}
        <li class="list-group-item">{{ title }} <span class="label label-default pull-right">By: {{ author }}</span></li>
      {{/each}}
    </ul>

    {{#if nextPath}}
      <a class="load-more" href="{{nextPath}}">Load more</a>
    {{else}}
      {{#unless ready}}
        {{> spinner}}
      {{/unless}}
    {{/if}}

  </div>
</template>
