<template name="ideasList">
  <div class="template-ideas-list">
    <div class="page-header">
      <h1>Dashboard</h1>
      <a href="{{ pathFor 'newIdeas'}}">Newest ideas</a>
      <a href="{{ pathFor 'bestIdeas'}}">Top ideas</a>
    </div>

    <div class="list-group">
      <div class="wrapper">
        {{#each ideas}}
          {{> ideaItem}}
        {{/each}}
      </div>
    </div>

    {{#if nextPath}}
      <a class="load-more" href="{{nextPath}}">Load more</a>
    {{else}}
      {{#unless ready}}
        {{> spinner}}
      {{/unless}}
    {{/if}}

  </div>
</template>
