<template name="ideaItem">
  <div class="idea">
    <div class='block idea-blurb'>{{ title }}</div>
    <div class='block idea-needs'>Developers, Designers, Business people.</div>
    <div class='block idea-tags'>#socialstandards, #appdesign, #ux</div>
    <div class='block item-votes'>
      <a href="#" class="light upvote {{upvotedClass}}">
        <span class='votes'>{{votes}}</span>
      </a>
      {{#if votes }}
      <a href="#" class="star upvote {{upvotedClass}}">
        <span class='votes'>{{votes}}</span>
      </a>
      {{/if}}
    </div>
    {{#unless conversationStarted }}
      <div class="pull-right">
         <a href="#" data-action="start-conversation">Send mesage</a>
      </div>
    {{/unless}}
  </div>
</template>
