@import '../base/mixins.import.less';
@import '../base/variables.import.less';

html, body {
  height: 100%;
}

.body-container {
  min-height: 100%;
}

.navbar {
  border: none;
  margin-bottom: 0;
}

.navbar-brand {
  img {
    margin-top: -20px;
    height: 60px;
  }
}

footer {
  background: #FF9565;
  .container {
    background: #FF9565;
  }
}

.at-form {
  h3, label, p, button {
    color: #4D4D4D;
  }
}

.body-container {
  width: 100%;
  background: #fe7c44; /* Old browsers */
  background: -moz-linear-gradient(top,  #fe7c44 0%, #fe956a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe7c44), color-stop(100%,#fe956a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fe7c44 0%,#fe956a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fe7c44 0%,#fe956a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fe7c44 0%,#fe956a 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fe7c44 0%,#fe956a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe7c44', endColorstr='#fe956a',GradientType=0 ); /* IE6-9 */
}